.gtxnegro {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
  background-color: #e6e6e6;
}

.aoscuro {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  color: #ffffff;
  background-color: #336699;
  font-weight: bold;
}

.aclaro {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  color: #ffffff;
  background-color: #6699cc;
  font-weight: bold;
}

.td1{
  text-align:center;
  width:8%;
}

.td2{
  text-align:justify;
}

.calendario tbody tr:nth-of-type(even) {
  background-color: #F4F6F6;
}

.calendario th {
    text-align: center;   
}

.modulo {
    text-align: center;
    font-style: italic;
}
.semana {
    text-align: center;
}

.deadline {
    font-weight: bold; 
    color: rgb(153, 0, 0);
}

blockquote.quote {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  background-image: url(imagenes/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
}
blockquote.quote span {
    display: block;
    background-image: url(imagenes/closequote1.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.gtxnegro { 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px; 
    font-weight: bold; 
    color: #000000; 
    background-color: #E6E6E6
}

.asueto {
    font-weight: bold;
    text-align: center;
}

.aoscuro { 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px; color: #FFFFFF; 
    background-color: #336699; 
    font-weight: bold 
}

.aclaro { 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px; 
    color: #FFFFFF; 
    background-color: #6699CC; 
    font-weight: bold 
}

.evaluation {
    color: red;
    font-weight: bold;
}